<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Добавление новости</h1>
<br>
<style>
    textarea {
        width: 60%; /* Ширина поля в процентах */
        height: 200px; /* Высота поля в пикселах */
        resize: none; /* Запрещаем изменять размер */
    }
</style>

<form th:action="@{/new}" th:object="${addedNews}" method="post">

    <table>
        <tr>
            <td>Заголовок:</td>
            <td><input type="text" th:field="*{title}" placeholder="Заголовок" size="50" /></td>
<!--            <td th:if="true" th:errors="">Name Error</td>-->
        </tr>

        <tr>
            <td>Дата:</td>
            <td><input type="text" th:field="*{date}" pattern="\d{4}-\d{1,2}-\d{1,2}" placeholder="yyyy-MM-dd" size="50" /></td>
                        <td th:if=true th:errors="*{date}">Name Error</td>
        </tr>

    </table>

    <div>
        <div>Содержимое:</div>
            <textarea th:field="*{text}"></textarea>
    </div>

    <br>
    <div class="form-group">
        <input type="file" name="image" accept="image/*" class="form-control-file">
    </div>
    <br>
    <button type="submit">Добавить</button>
</form>

</body>
</html>

