<!--This is the page of newsline context-->
<!DOCTYPE html>
<html>
<head>
    <title>Newsline</title>
</head>
<body>
<h1>Newsline</h1>
</body>

<body>
<!--Insert each news with "news.html" template-->
<div th:each="current_news : ${news}">
    <div th:insert="~{news :: copy}"></div>
</div>

<br>
<hr>
<div>Перейти на страницу</div>
<div class="row" th:fragment="pagination">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link" th:href="@{|/newsline/page/${pageNumber}|}" th:text=${pageNumber}>1</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>

<a>Новостей на странице</a>
<form th:action="@{/choose}" method="post">
    <select class="form-control" name="newsOnPageAmount">
        <!--        Will be selected value which mathes with similar field of NewsServiceImpl class-->
        <option th:selected=(${newsOnPageAmount}==10) value="10">10</option>
        <option th:selected=(${newsOnPageAmount}==20) value="20">20</option>
        <option th:selected=(${newsOnPageAmount}==50) value="50">50</option>
    </select>
    <input type="hidden"/>
    <button type="submit">Выбрать</button>
</form>
<br>
<a href="/">На главную</a>

</body>
</html>





