<!--This is the template of each news. Width and height of image was set randomly-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--This code show content of a news-->
<div th:fragment="copy">
    <hr>

    <h2 class="align-middle" th:text="${current_news.getTitle}"></h2>
    <h4 class="align-middle" th:text="${current_news.getDateAsString}"></h4>
    <h3 class="align-middle" th:text="${current_news.getText}"></h3>
    <div th:if="${current_news.getEncodedImage != null}">
        <img th:src="@{'data:image/jpeg;base64,'+${current_news.getEncodedImage}}" width="600"
             height="450"/>
    </div>
</div>
</body>
</html>

